<header>
    <nav>
        <a href="/">Shop of Something</a>
        <ul>
            <li><a href="/sellers">Sellers</a></li>
            <li><a href="/sellers/new">Add seller</a></li>
        </ul>
    </nav>
</header>