h1{
    color: blue;
    text-align: center;
}


@font-face {
    font-family: myFirstFont;
    src: url(webfont.woff2) format(woff2)
}

.testFont {
    font-family: myFirstFont, Impact, Haettenschweiler, 'Arial Narrow Bold';
}

.flex-Container{
    display: flex;
    flex-wrap: nowrap;
    background-color: blue;
    
}

.flex-Container > div{
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.backgroundImage {
    z-index: -1;
}

.floatImage {
    width: 150px;
    height: 150px;
    float: right;
}
.overflowDiv{
    width: 110px;
    height: 250px;
    overflow:scroll;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table th, td, tr{
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

select{
    align-items: center;
    width: 200px;
    height: 30px;
}


