<h2>Search Sellers</h2>
<form action="/sellers" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% sellers.forEach(seller=>{ %>
    <div>
        <%= seller.name %>
    </div>
    <% }) %>